<nav>
    <ul>
        {#each feeds as feed}
        <li><a rel=prefetch class="{active==feed.river?'selected':''}" on:click="set({active:feed.river})" href="/feeds/{feed.river.replace('.js', '')}">{feed.title}</a></li>
        {/each}
    </ul>
</nav>

<script>
    export default {
        oncreate() {
            // const {props} = this.get();
            // console.log(props.path);
            fetch(`feeds.json`)
                .then(r => r.json())
                .then((feeds) => {
                this.set({ feeds });
            });
        },
        data() {
            // console.log(this.props.path);
            return {
                active: '',
                feeds: []
            }
        }
    }
</script>

<style>
    nav {
        border-bottom: 1px solid rgba(170,30,30,0.1);
        font-weight: 300;
        padding: 0 1em;
    }

    ul {
        margin: 0;
        padding: 0;
    }

    /* clearfix */
    ul::after {
        content: '';
        display: block;
        clear: both;
    }

    li {
        display: block;
        float: left;
    }

    .selected {
        position: relative;
        display: inline-block;
    }

    .selected::after {
        position: absolute;
        content: '';
        width: calc(100% - 1em);
        height: 2px;
        background-color: rgb(170,30,30);
        display: block;
        bottom: -1px;
    }

    a {
        text-decoration: none;
        padding: 1ex 0.5em;
        display: block;
    }
</style>
